html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font: 16px/1.5 Cormorant Garamond, Helvetica;
  color: #444;
  margin: 50px auto 100px auto;
  max-width: 800px;
  text-align: center;
}

h1 {
  font-size: 64px;
  line-height: 1.4;
  margin: 0;
}

h2 {
  font-size: 16px;
  font-weight: 500;
  margin: 0 0 50px 0;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

article {
  overflow: hidden;
}

.show-modal {
  float: left;
  width: 50%;
  padding: 5px;
}

/* JQuery Classes */

h1.blue {
    color: blue;
}

/* Modal Classes */

.modal {
    display: none;
}

.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
}

.modal-close {
    font: "arial";
    z-index: 1;
    position: fixed;
    top: 20px;
    right: 20px;
    color: lightgrey;
    size: 42px;
    border-radius: 100%;
    padding: 0.25em;
    border: lightgrey 1px solid;
}

.modal-close:hover {
    color: white;
    border-color: white;
    cursor: pointer;
}

.modal-content {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 1200px;
    height: 800px;
    background-color: white;
    margin: -400px 0 0 -600px;
}